<div>
  <h1 class="text-xl font-bold">Messages</h1>

  <% if @messages.any? %>
    <div><%= render MessageComponent.with_collection(@messages) %></div>
  <% else %>
    <p>There are no messages to display</p>
  <% end %>
<div>
