<div class="max-w-2xl">
  <h1 class="text-xl font-bold my-5">Messages</h1>

  <% if @messages.any? %>
    <div class="mb-5">
      <%= render MessageComponent.with_collection(@messages) %>
    </div>
  <% else %>
    <p class="mb-5">
      There are no messages to display
    </p>
  <% end %>
<div>
